# SPDX-License-Identifier: Apache-2.0
@matrixsoftwarelimited:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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

@frmscoe:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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

