# SPDX-License-Identifier: Apache-2.0
@frmscoe:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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

@matrixsoftwarelimited:registry=https://npm.pkg.github.com/
