# SPDX-License-Identifier: Apache-2.0
@matrixsoftwarelimited:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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

@frmscoe:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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

